@import "../../../styles/_variables.scss";

.button {
  @include text;
  @include unselectableText;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(white, 0.6);
  border-radius: 40px;
  color: white;
  height: 48px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover{
    background-color: rgba($success-green, 0.7);
  }

  &:active{
    background-color: rgba($success-green, 0.85);
  }
}
