
$dark-blue: #00004d;
$denim: #1560bd;
$dark-blue2: #0d4b9e;
$old-yellow: #C8AF55;
$success-green: #4BB543;
$error-red: #FC100D;

@mixin text {
  color: #EBEBEB;
}

@mixin unselectableText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
