@import "../../styles/_variables.scss";

.container {
  @include text;
  position: relative;
  display: flex;
  align-items: center;
  header {
    @include unselectableText;
    color: white;
    font-size: 42px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .startGameButton {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $dark-blue;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    @include text;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgba($denim, 0.4);
    background-color: $denim;
    border-radius: 10px;
    height: 60px;
    width: 280px;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgba($dark-blue2, 0.8);
      width: 300px;
      border-radius: 20px;
    }

    &:active {
      background-color: rgba($dark-blue2, 1);
    }
  }
}
