@import "../../styles/_variables.scss";

.container {
  @include text;
  position: relative;
  header {
    @include unselectableText;
    color: white;
    font-size: 42px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .startGameButton {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $dark-blue;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    @include text;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgba(#1560bd, 0.4);
    border-radius: 20px;
    height: 80px;
    width: 400px;
  }
}
