@import "../../styles/variables.scss";

.layout {
  padding: 24px 30px;
  background-color: $dark-blue;
  height: calc(100vh - 24px);
  width: calc(100vw - 60px);
  padding-top: 0;
  position: relative;
  background: linear-gradient(-45deg, $dark-blue, #002366, #192bc2, #0000ff);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    @include unselectableText;
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
