@import '../../../styles/variables';

.progressContainer {
  height: calc(100vh - 16px);
  border-left: 2px solid black;
  position: absolute;
  top: -320px;
  right: 0;
  padding: 8px 16px;
  width: 240px;
  overflow: hidden;

  .questions {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column-reverse;
    @include unselectableText;
  }

  .questionIndicator {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    color: white;
    text-align: center;

    &::before {
      content: '◆';
      font-size: 16px;
      color: white;
    }

    &__number {
      width: 30px;
      margin-left: 10px;
      font-size: 18px;
      text-align: center;
    }
    &__author {
      width: 800px;
      font-size: 14px;
      text-align: right;
    }
    font-weight: 500;
    margin-bottom: 10px;

    &.currentQuestion {
      color: white;
      position: relative;
      &::after{
        width: 300px;
        content: '';
        height: 28px;
        background-color: rgba($old-yellow, 0.7);
        position: absolute;
        top: 28px;
        left: -40px;
        animation: pulse 2s infinite;
      }
    }

    &.answeredQuestion {
      color: $old-yellow;
    }
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($old-yellow, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba($old-yellow, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($old-yellow, 0);
	}
}

